[Unit]
Description=Electric Boat
After=bluetooth.target

[Service]
ExecStart=/usr/bin/node /home/pi/src/electric-boat/RaspberryPi/software/solo/index.js
WorkingDirectory=/home/pi/src/electric-boat/RaspberryPi/software/solo
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

